<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render(ViewBag.CSS)
    @Scripts.Render(ViewBag.JS)
</head>
<body onload="begin();">
    <div>
        @RenderBody()
    </div>
</body>
</html>
