@model GiftingProject.DatabaseAccess.UserModel


<div class="container">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

    <div id="DisplayWindow">

    </div>

</div>

@*-- Hidden Section -------------------------------------------------------------------*@

<div style="display:none;">

    <div name="Question" id="PAGE01" class="question">
        <div class="header-container" style="width:180px;">
            <span class="header">H</span>
            <span class="header">O</span>
            <span class="header">M</span>
            <span class="header">E</span>
        </div>

        <p>
            The sole reason for this free website is to help Cash App users
            receive a boat-load of $10 gifts. Really.
        </p>

        <p>
            Are you <b>@Model.UserName</b> ?
        </p>

        <button onclick="showQuestion('PAGE02');">YES</button>
        <button onclick="showQuestion('PAGE20');">NO</button>


    </div>
    <div name="Question" id="PAGE20" class="question">
        <div class="header-container" style="width:140px;">
            <span class="header">F</span>
            <span class="header">I</span>
            <span class="header">N</span>
            <span class="header">D</span>
        </div>

        <p>Then let's find your page.  Enter your cashtag below. . .</p>

        <input type="text" id="UserNameInput" value="" />
        <button onclick="addUser('@Model.UserName');">FIND</button>
        <button onclick="showQuestion('PAGE01');">HOME</button>

    </div>

    <div name="Question" id="PAGE02" class="question">
        <div class="header-container" style="width:200px;">
            <span class="header">S</span>
            <span class="header">H</span>
            <span class="header">A</span>
            <span class="header">R</span>
            <span class="header">E</span>
        </div>

        <p>
            This is your page then.  Your entire job now is to
            share this page with at least three (3) people.
        </p>
        <p style="margin-top:20px;">
            <b>Remember:</b> This website is 100% free!
        </p>

        <button onclick="showQuestion('PAGE03');">NEXT</button>
        <button onclick="showQuestion('PAGE01');">HOME</button>

    </div>

    <div name="Question" id="PAGE03" class="question">

        <div class="header-container" style="width:140px;">
            <span class="header">G</span>
            <span class="header">I</span>
            <span class="header">V</span>
            <span class="header">E</span>
        </div>
        <p>
            Finally, bank some karma by giving a $10 gift to:
        </p>
        <p>
            <b>@Model.OwnerName</b>
        </p>

        <p>
            <b>Giving Will. . .</b>
        </p>

        <ul>
            <li>spread happiness.</li>
            <li>increase your joy.</li>
        </ul>

        <p>
            <b>Giving May Even. . .</b>
        </p>

        <ul>
            <li>prevent bad breath.</li>
            <li>prevent cold sores.</li>
            <li>prevent hair loss.</li>
            <li>and help you lose weight.</li>
        </ul>

        <img src="~/Content/smiley2.png" />
        <br />
        <button onclick="showQuestion('PAGE01');">HOME</button>

    </div>

</div>