@model GiftingProject.DatabaseAccess.UserModel


<div class="container">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

    <div id="DisplayWindow">

    </div>

</div>

@*-- Hidden Section -------------------------------------------------------------------*@

<div style="display:none;">

    <div name="Question" id="PAGE01" class="question">
        <div class="header-container" style="width:180px;">
            <span class="header">H</span>
            <span class="header">O</span>
            <span class="header">M</span>
            <span class="header">E</span>
        </div>

        <p><b>Two Questions</b></p>

        <ul>
            <li>Are you a Cash App User?</li>
            <li>Do you enjoy receiving cash gifts?</li>
        </ul>
        <p>
            If so, then this free website was made for you. 
        </p>
        <ul>
            <li>Are you <b>@Model.UserName</b>?</li>
        </ul>

        <button onclick="showQuestion('PAGE02');">YES</button>
        <button onclick="showQuestion('PAGE20');">NO</button>


    </div>
    <div name="Question" id="PAGE20" class="question">
        <div class="header-container" style="width:140px;">
            <span class="header">F</span>
            <span class="header">I</span>
            <span class="header">N</span>
            <span class="header">D</span>
        </div>

        <p>Ok then, let's find your page.  Enter your Cash App cashtag below. . .</p>

        <input type="text" id="UserNameInput" value="" />
        <button onclick="addUser('@Model.UserName');">FIND</button>
        <button onclick="showQuestion('PAGE01');">HOME</button>

    </div>

    <div name="Question" id="PAGE02" class="question">
        <div class="header-container" style="width:200px;">
            <span class="header">S</span>
            <span class="header">H</span>
            <span class="header">A</span>
            <span class="header">R</span>
            <span class="header">E</span>
        </div>

        <p>
            <b>This is your page then.</b>  Your goal is to
            share this page with at least three (3) new
            Cash App users.
        </p>

        <p>
            <b>If you succeed</b>, we could be asking a 
            very large group of Cash App users to send 
            you a $10 gift.
        </p>

        <p style="margin-top:20px;">
            <b>Remember:</b> This website is 100% free!
        </p>

        <button onclick="showQuestion('PAGE03');">NEXT</button>
        <button onclick="showQuestion('PAGE01');">HOME</button>

    </div>

    <div name="Question" id="PAGE03" class="question">

        <div class="header-container" style="width:140px;">
            <span class="header">G</span>
            <span class="header">I</span>
            <span class="header">V</span>
            <span class="header">E</span>
        </div>
        <p>
            Finally, consider giving a $10 gift to:
        </p>
        <p>
            <b>@Model.OwnerName</b>
        </p>

        <ul>
            <li>Pay it forward!</li>
            <li>Bank some karma!</li>
            <li>Bring some joy!</li>
        </ul>
        
        <button onclick="showQuestion('PAGE01');">HOME</button>

    </div>

</div>