@model GiftingProject.DatabaseAccess.UserModel


<div class="container">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&family=Varela+Round&display=swap" rel="stylesheet">

    <a class="stats-panel stats-panel-blue" 
       href="https://paypal.me/@Model.UserName/" 
       target="_blank">
        <div class="stats-panel-name">@Model.UserName</div>
    </a>

    <div id="DisplayWindow">

    </div>

    <span id="BackButton" class="material-icons" onclick="previous();">arrow_back_ios</span>
</div>

@*-- Hidden Section -------------------------------------------------------------------*@

<div style="display:none;">

    <div name="Question" id="HOME" class="question">


        <button onclick="showQuestion('USER01');">@Model.UserName</button>
        <button onclick="showQuestion('GUEST01');">VISITOR</button>

    </div>

    <div name="Question" id="GUEST01" class="question">

        <p>
            <b>See that big blue button above? </b> It will take you to my
            PayPal.me page where you can send me a $10 gift if you wish.
        </p>

        <button onclick="showQuestion('GUEST02');">NEXT</button>


    </div>

    <div name="Question" id="GUEST02" class="question">

        <p>
            <b>The goal of this website</b> is to help anyone with
            a PayPal.me link to receive as many $10 gifts as possible.
        </p>

        <button onclick="showQuestion('GUEST03');">NEXT</button>


    </div>

    <div name="Question" id="GUEST03" class="question">

        <p>
            <b>Interested?</b> Then let's get started by creating
            a big blue button for you. Free.
        </p>

        <p>Enter your PayPal.me handle below.</p>

        <input type="text" id="UserNameInput" value="" />
        <button onclick="addUser('@Model.UserName');">CREATE MY BUTTON</button>


    </div>

    <div name="Question" id="USER01" class="question">

        <p>
            <b>Excellent!</b>
        </p>
        <p>
            Now that you have your big blue button
            simply bookmark this page and share it with at least 3 people.
        </p>

        <button onclick="showQuestion('USER02');">NEXT</button>

    </div>

    <div name="Question" id="USER02" class="question">

        <p>
            <b>Your first two</b>
            new users will "roll-up" to someone elses network.  This
            is a good thing for you.
        </p>


        <button onclick="showQuestion('USER03');">NEXT</button>

    </div>

    <div name="Question" id="USER03" class="question">

        <p>
            <b>Each new user</b> after that stays in your network.
        </p>


        <button onclick="showQuestion('USER04');">NEXT</button>

    </div>

    <div name="Question" id="USER04" class="question">

        <p>
            <b>Every person</b> who joins your network either by
            personal invitation, <b>or roll-up</b>, will now roll up
            their first two new users to you!!
        </p>


        <button onclick="showQuestion('USER05');">NEXT</button>

    </div>

    <div name="Question" id="USER05" class="question">

        <p>
            <b>Your network</b> can now grow by itself and
            you can sit back and watch your PayPal account
            for gifts.
        </p>


        <button onclick="showQuestion('USER06');">NEXT</button>

    </div>

    <div name="Question" id="USER06" class="question">

        <p>
            <b>Now, it only seems fair,</b> that if you are hoping to
            receive gifts you should also be willing to give a gift.
        </p>
        <p>
            <b>We ask that you</b> consider giving your group leader
            a one-time $10 gift. Just click the big blue button below.
        </p>

        <a class="stats-panel stats-panel-blue"
           href="https://paypal.me/@Model.OwnerName/10"
           target="_blank">
            <div class="stats-panel-name">@Model.OwnerName</div>
        </a>

    </div>



</div>