@model GiftingProject.DatabaseAccess.UserModel


<div class="container">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&family=Varela+Round&display=swap" rel="stylesheet">

    <div class="stats-panel stats-panel-blue">
        <div class="stats-panel-name">2UPGIFT.CLUB</div>
    </div>

    <div id="DisplayWindow">

    </div>

</div>

@*-- Hidden Section -------------------------------------------------------------------*@

<div style="display:none;">

    @*<div name="Question" id="HOME" class="question">


            <button onclick="showQuestion('USER01');">@Model.UserName</button>
            <button onclick="showQuestion('GUEST01');">VISITOR</button>

        </div>*@

    <div name="Question" id="GUEST01" class="question">

        <table>
            <tr>
                <td style="width:100px;">Page Owner:</td>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <td>Gift Partner:</td>
                <td><b>@Model.OwnerName</b></td>
            </tr>
        </table>

        <p><b>Owner: </b>please consider using the Cash App to send a $10 gift to your gift-partner.</p>
        <p><b>Visitor: </b>Do you like receiving gifts?</p>


        <button onclick="showQuestion('GUEST02');">YES</button>
        <button onclick="showQuestion('NO');">NO</button>


    </div>
    <div name="Question" id="NO" class="question">

        <img src="~/Content/slap02.gif" style="margin-bottom:20px;" />
        <br />
        <button onclick="showQuestion('GUEST01');">BACK</button>

    </div>

    <div name="Question" id="GUEST02" class="question">

        <p><b>WE CAN HELP</b></p>
        <p>
            The whole point of this fun little website is to pair receivers
            with a <b>constantly growing number</b> of potential givers.
        </p>

        <button onclick="showQuestion('GUEST01');">PREV</button>
        <button onclick="showQuestion('GUEST03');">NEXT</button>

    </div>

    <div name="Question" id="GUEST03" class="question">

        <p>
            <b>STEP 1:</b>
        </p>
        <p>
            Start by getting the Cash App if you don't already have it
            from your App Store.
        </p>

        <button onclick="showQuestion('GUEST02');">PREV</button>
        <button onclick="showQuestion('GUEST04');">NEXT</button>

    </div>

    <div name="Question" id="GUEST04" class="question">

        <p>
            <b>STEP 2:</b>
        </p>
        <p>
            Next, get a customized copy if this web page and start sharing!
        </p>
        <p>
            <b>
                NOTE: Your must share your page with at least 3 new users to make
                this system work for you.
            </b>
        </p>
        <label>Your Cashtag</label>
        <input type="text" id="UserNameInput" value="" />
        <button onclick="showQuestion('GUEST03');">PREV</button>
        <button onclick="addUser('@Model.UserName');">GET MY PAGE</button>

    </div>

</div>