@model GiftingProject.DatabaseAccess.UserModel


<div class="container">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

    <div id="DisplayWindow">

    </div>

</div>

@*-- Hidden Section -------------------------------------------------------------------*@

<div style="display:none;">

    <div name="Question" id="GUEST01" class="question">
        <div class="header-container" style="width:140px;">
            <span class="header">G</span>
            <span class="header">I</span>
            <span class="header">V</span>
            <span class="header">E</span>
        </div>

        <b>User:</b>
        <p>
            @Model.UserName, this is your chance to make a big deposit into the Universal Bank of Karma.
            Use your Cash App to give a one-time $10 gift to:
        </p>

        <div class="owner-name">@Model.OwnerName</div>

        <br />
        <b>Visitor: </b>
        <p>Do you like receiving gifts?</p>


        <button onclick="showQuestion('GUEST02');">YES</button>
        <button onclick="showQuestion('NO');">NO</button>


    </div>
    <div name="Question" id="NO" class="question">
        <div class="header-container" style="width:225px;">
            <span class="header">S</span>
            <span class="header">M</span>
            <span class="header">A</span>
            <span class="header">C</span>
            <span class="header">K</span>
            <span class="header">!</span>
        </div>

        <img src="~/Content/slap02.gif" style="margin-bottom:20px;" />

        <br />
        <button onclick="showQuestion('GUEST01');">BACK</button>

    </div>

    <div name="Question" id="GUEST02" class="question">
        <div class="header-container" style="width:240px;">
            <span class="header">R</span>
            <span class="header">E</span>
            <span class="header">C</span>
            <span class="header">E</span>
            <span class="header">I</span>
            <span class="header">V</span>
            <span class="header">E</span>
        </div>
        <b>You're in luck!</b>
        <p>
            The whole point of this fast, fun, and free, little website is to help Cash App
            users receive a boat-load of $10 gifts!
        </p>
        <p style="margin-top:20px;">
            <b>Note:</b> To make this system work for you, you must help
            us find at least three new users.
        </p>
        <p style="margin-top:20px;">
            <b>Remember:</b> This website is 100% free!
        </p>

        <button onclick="showQuestion('GUEST03');">NEXT</button>
        <button onclick="showQuestion('GUEST01');">PREV</button>

    </div>

    <div name="Question" id="GUEST03" class="question">

        <div class="header-container" style="width:185px;">
            <span class="header">S</span>
            <span class="header">T</span>
            <span class="header">E</span>
            <span class="header">P</span>
            <span class="header">-</span>
            <span class="header">1</span>
        </div>
        <p>
            Start by getting the Cash App from your favorite App Store.
        </p>

        <button onclick="showQuestion('GUEST04');">NEXT</button>
        <button onclick="showQuestion('GUEST02');">PREV</button>

    </div>

    <div name="Question" id="GUEST04" class="question">

        <div class="header-container" style="width:185px;">
            <span class="header">S</span>
            <span class="header">T</span>
            <span class="header">E</span>
            <span class="header">P</span>
            <span class="header">-</span>
            <span class="header">2</span>
        </div>
        <p>
            Next, create a customized copy of this web page, and
            use it to help us find at least three (3) new users.
        </p>

        <label>your cashtag</label>
        <input type="text" id="UserNameInput" value="" />
        <button onclick="addUser('@Model.UserName');">CREATE</button>


        <button onclick="showQuestion('GUEST03');">PREV</button>
    </div>

</div>