@model GiftingProject.DatabaseAccess.UserModel


<div class="container">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @{
        bool color = true;
        string GetClassName()
        {
            color = !color;
            return color == false ? "blue" : "green";
        }
    }

    <a class="stats-panel stats-panel-blue" href="https://paypal.me/@Model.UserName/">
        <div class="stats-panel-name">@Model.UserName</div>
        <div class="stats-panel-stat">
            @(Model.UserOwnerCount.HasValue ? Model.UserOwnerCount : 0)
        </div>
    </a>

    <div id="DisplayWindow">

    </div>

    <span id="BackButton" class="material-icons" onclick="previous();">arrow_back_ios</span>
</div>

@*-- Hidden Section -------------------------------------------------------------------*@

<div style="display:none;">

    <div name="Question" id="HOME" class="question">

        <div class="q-text" style="text-align:center;">
            Is this your page?
        </div>


        <br />
        <button onclick="showQuestion('USER01');">YES</button>
        <button onclick="showQuestion('GUEST01');">NO</button>

    </div>

    <div name="Question" id="GUEST01">

        <div class="q-text" style="text-align:center;">
            Do you have
        </div>
        <div class="q-text" style="text-align:center;">
            a PayPal.me link?
        </div>

        <br />
        <button onclick="showQuestion('GUEST02');">YES</button>
        <button onclick="window.open('https://paypal.me/', '_blank');">NO</button>

    </div>

    <div name="Question" id="GUEST02" class="question">


        <div>
            <div class="q-text" style="text-align:center;">
                Let's find your page.
            </div>
            <br />
            <br />

            <span class="q-text" style="color:grey;">
                https://paypal.me/???
            </span>

            <input type="text" id="UserNameInput" value="" />

            <button onclick="addUser('@Model.UserName');">FIND</button>

        </div>

    </div>

    <div name="Question" id="USER01" class="question">


        <div class="q-text">
            To Do List:
        </div>

        <ol>
            <li>
                Test your blue button to see if it works.
            </li>
            <li>
                Share your page with at least 3 friends.
            </li>
            <li>
                Visit this page often and watch your network grow!
            </li>
            <li>
                Optional: Send @Model.OwnerName a small gift.
            </li>
        </ol>

        <br />
        <button onclick="window.open('https://paypal.me/@Model.OwnerName/');">GIFT</button>
        <button onclick="showQuestion('DEMO-01');">DEMO</button>


    </div>

    <div name="Question" id="DEMO-01" class="question">

        <div class="q-text">
            Fact:
        </div>

        <p>
            The goal of this <b>free</b> website is to put <b>your</b> gift button in front
            of as many potential givers as possible.
        </p>

        <br />

        <button onclick="showQuestion('DEMO-02');">NEXT</button>

    </div>

    <div name="Question" id="DEMO-02" class="question">

        <div class="q-text">
            Fact:
        </div>

        <p>
            Your only task is to share this <b>free</b> page with
            at least 3 friends, then sit back and watch your network grow.
        </p>

        <br />

        <button onclick="showQuestion('DEMO-03');">NEXT</button>

    </div>

    <div name="Question" id="DEMO-03" class="question">

        <div class="q-text">
            Assumption:
        </div>

        <p>
            Let's assume, for the demo, that each new user can
            add 1 new user per day for 3 days.
        </p>

        <br />

        <button onclick="showQuestion('DEMO-04');">NEXT</button>

    </div>

    <div name="Question" id="DEMO-04" class="question">

        <div class="q-text">
            Disclaimer:
        </div>

        <p>
            PayPal only has a little over 377 million active users
            so your mileage will vary...
        </p>

        <br />

        <button onclick="dayOne();">NEXT</button>

    </div>

    <div name="Question" id="DAY01" class="question">

        <div class="q-text">
            <div id="DayNumber" style="text-align:center; font-size:20px;">Your Day 1 User Count</div>
            <br />
            <div id="UserCount" style="text-align:center; font-size:32px;">0</div>
        </div>

        <br />
        <button onclick="nextDay(-1);">PREV</button>
        <button onclick="nextDay(1);">NEXT</button>

    </div>

    <div name="Question" id="DAY22" class="question">

        <div class="q-text">
            <div id="DayNumber" style="text-align:center; font-size:20px;">Your Day 22 User Count</div>
            <br />
            <div id="UserCount" style="text-align:center; font-size:32px;">1048575</div>
            <br />
            <div id="DayNumber" style="text-align:center; font-size:20px;">Demo Complete</div>
        </div>

        <br />

        <button onclick="showQuestion('USER01');">HOME</button>

    </div>

</div>